
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Signika:wght@300&display=swap');



#logo{
    height: 7vh;
}
#nav_home:hover{
border-top: 3px solid orange;
border-right: 3px solid orange;
border-left: 3px solid orange;
transition: 500ms;
}
#nav_menu:hover{
border-top: 3px solid orange;
border-right: 3px solid orange;
border-left: 3px solid orange;
transition: 500ms;
}
#nav_blog:hover{
border-top: 3px solid orange;
border-right: 3px solid orange;
border-left: 3px solid orange;
transition: 500ms;
}
#nav_shop:hover{
border-top: 3px solid orange;
border-right: 3px solid orange;
border-left: 3px solid orange;
transition: 500ms;
}
#nav_contact:hover{
border-top: 3px solid orange;
border-right: 3px solid orange;
border-left: 3px solid orange;
transition: 500ms;
}

#cont1_h1{
    font-size: 8rem;
    font-family: 'Dancing Script', cursive;
}
#cont1_p1{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(250, 118, 3);
}

#cont1_btn{
    font-size: 1.5rem;
     background-color:  rgb(250, 98, 3);
     color: white;
     padding-left: 1.5rem;
     padding-right: 1.5rem;

}
#cont2_btn{
    font-size: 1.5rem;
     background-color:  rgb(250, 98, 3);
     color: white;
     padding-left: 1.5rem;
     padding-right: 1.5rem;

}
#cont3_btn{
    font-size: 1.5rem;
     background-color:  rgb(250, 98, 3);
     color: white;
     padding-left: 1.5rem;
     padding-right: 1.5rem;

}

#cont4_para{
    color: #000A2D;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
}
#cont_4_img{
    border-radius: 40px;
    background-color: #000A2D;
}
#cont2_h3{
    font-size: 6rem;
    color: #000A2D;
    font-family: 'Dancing Script', cursive;
}
#cont5_h3{
    font-size: 3rem;
    color: #000A2D;

}
#cont5_h3{
    font-size: 2.5rem;
    color: #000A2D;

}
#cont6_h3{
    font-size: 2.5rem;
    color: #000A2D;

}
#cont3_h3{
    font-size: 6rem;
    color:whitesmoke;
    font-family: 'Dancing Script', cursive;
}
#cont2_img{
    border: 2px solid black;
    border-radius: 50%;
    padding: 20px;
    
}
#cont3_img{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 20px;
    
}
#cont2_para{
    background-color: #000A2D;
    border-radius: 5rem;
padding: 4rem;
color: whitesmoke;
font-size: 20px;
font-weight: 400;
word-spacing: 10px;
}
#cont3_para{
    background-color: whitesmoke;
    border-radius: 5rem;
padding: 4rem;
color: #000A2D;
font-size: 20px;
font-weight: 400;
word-spacing: 10px;
}
#cont5-para1{
    background-color:#010f44f7;
    color: whitesmoke;
    font-size: 22px;
    font-weight: 400;
    border-radius: 2rem;
box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#cont5-para2{
    background-color: #010f44f7;
    border-radius: 2rem;
color: whitesmoke;
font-size: 22px;
font-weight: 400;
border-radius: 2rem;
box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.cont4_card{
    /* border: 3px solid #000A2D; */
    box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-h{
    font-size: 25px;
    color: #000A2D;
    font-family: 'Times New Roman', Times, serif;

}
#last_block_1{
    font-size: 20px;
}
#last_block_2{
    font-size: 20px;
}


@media only screen and  (min-width:1201px){
    #cont_1{
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }
    #cont_2{
        height: 70vh;
    }
    #cont_3{
        height: 70vh;
        background-color: #000A2D;
    }
    #cont_4{
        height: 70vh;
        color: #000A2D;
        background-color: whitesmoke;
    }
    #cont_5{
        height: 70vh;
        padding: 4rem;
    }
    #cont_6{
        height: 90vh;
        
    }
    #cont_7{
        height: 70vh;
        background-color: #000A2D;
        position: relative;
        top: 10vh;
    }
   
}
@media only screen and (max-width:1200px) and (min-width:1001px){
    #cont_1{
        background-color: whitesmoke;
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }
  

    #cont_2{
        height: 80vh;
    }
    #cont2_btn{
        font-size: 1.5rem;
         background-color:  rgb(250, 98, 3);
         color: white;
         padding-left: 1.5rem;
         padding-right: 1.5rem;
        position: relative;
        left: 100px;
        top: 50px;
    }

    #cont2_h3{
        font-size: 6rem;
        color: #000A2D;
        font-family: 'Dancing Script', cursive;
        position: relative;
        left: 100px;
        top: 50px;
    }
    #cont_3{
        height: 80vh;
        background-color: #000A2D;
    }

    #cont3_h3{
        font-size: 6rem;
        color:whitesmoke;
        font-family: 'Dancing Script', cursive;
        position: relative;
        right: 130px;
        top: 50px;
    }
    #cont3_btn{
        font-size: 1.5rem;
         background-color:  rgb(250, 98, 3);
         color: white;
         padding-left: 1.5rem;
         padding-right: 1.5rem;
         position: relative;
         right: 130px;
         top: 50px;
    }
    #cont_4{
        height: 90vh;
        color: #000A2D;
        background-color: whitesmoke;
    }
    #cont_5{
        height: 70vh;
        padding: 4rem;
    }
    #cont_6{
        height: 100vh;
        
    }
    #cont_7{
        height: 90vh;
        background-color: #000A2D;
    }
    #cont2_img{
        display: none;
    }
    #cont3_img{
        display: none;
    }
    
}


@media only screen and (max-width:1000px) and (min-width:701px){
    #cont_1{
        background-color: whitesmoke;
    
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
    }
  
    #cont2_btn{
        font-size: 2rem ;
    }
    #cont3_btn{
        font-size: 2rem ;
    }
  
    #cont_2{
        height: 80vh;
    }
    #cont_3{
        height: 80vh;
        background-color: #000A2D;
    }
    #cont_4{
        height: 100vh;
        color: #000A2D;
        background-color: whitesmoke;
    }
    #cont4_para{
        color: #000A2D;
        font-family: 'Signika', sans-serif;
        font-size: 25px;
    }
    #cont_5{
        height: 70vh;
        padding: 4rem;
    }
    #cont_6{
        height: 70vh;
        
    }
    #cont_7{
        height: 90vh;
        background-color: #000A2D;
        position: relative;
        top: 150vh;
    }
  

    
}


@media only screen and (max-width:700px) and (min-width:381px){
    #cont_1{
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }
    #cont_2{
        height: 80vh;
    }
    #cont_3{
        height: 80vh;
        background-color: #000A2D;
    }
    #cont_4{
        height: 70vh;
        color: #000A2D;
        background-color: whitesmoke;
    }
    #cont_5{
        height: 75vh;
        padding: 4rem;
    }
    #cont_6{
        height: 100vh;
        
    }
    #cont_7{
        height: 100vh;
        background-color: #000A2D;
        position: relative;
        top: 100vh;
    }
    
}

@media only screen and (max-width:380px){
    #cont_1{
        background-color: whitesmoke;
    
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }

    #cont_2{
        height: 80vh;
    }
    #cont_3{
        height: 80vh;
        background-color: #000A2D;
    }
    #cont_4{
        height: 60vh;
        color: #000A2D;
        background-color: whitesmoke;
    }
    #cont_5{
        height: 35vh;
        padding: 4rem;
    }
    #cont4_para{
        display: none;
    }
#cont_6{
    position: relative;
    top: 40vh ;
    height: 60vh;
}

#cont_7{
    height: 100vh;
    background-color: #000A2D;
    position: relative;
    top: 120vh ;
}


}



